/* CSS Document */

/* General Styles */

body { font-family: Arial, verdana, sans-serif; font-size: 14px; color: #80838d; background: url('../images/nav_background.png') repeat-x;}
#page-wrappers{
	width: 100% !important;
}
.fl { float: left; }
.fr { float: right; }

.cl { clear: left; }
.cr { clear: right }
.cb { clear: both; }
.ci { margin: 0 auto; display: block; }

.centerContainer { width: 960px; margin: 0 auto; height: auto;}
.removeMarginRight { margin-right: 0px !important; }
#divider { background-image: url(../images/divider.png); background-repeat: no-repeat; height: 5px; }
img.icon { margin-right: 10px; }
.article { margin: 15px 0px 25px 0px; }


h3 {font-size: 24px; font-weight: bold; }
h4 {font-size: 24px; font-weight: bold; color: #110e0e; }

a {color: #4bd1fd; text-decoration: none; }
a:hover {color: #4bd1fd; text-decoration: underline; }












/* Header Styles */

#header
{
	width: 100%;
	height: 115px;
	background-image: url(../images/headerBG.png);
}

#logo { width: 400px; padding-top:20px;}

#logo img { margin-right: 15px; }

#logo h1 { font-size: 33px; text-transform: uppercase; padding-bottom: 7px; }

#logo p { font-size: 16px; text-transform: uppercase; letter-spacing: 3px; margin-left: 80px; padding-top: 5px; }

#googleAdsense { width: 468px; height: 60px; margin-top: 25px; }








/* Nav Styles */


#navigation
{
	clear:both;
	width: 100%;
	height: 45px;
	background-color: #3d3f46;
}

#navigation ul { padding-top: 10px; }
#navigation ul li { float: left; margin-top:10px; float:left; }

#navigation ul li a 
{ 
	height: 35px;
	display: block;
	background-color: #4b4e56;
	padding: 0 15px;
	line-height: 32px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

#navigation ul li a:hover 
{ 
	text-decoration: underline;
}

#navigation ul li a.active
{ 
	background-color: #fff;
	color: #3d3f46;
}







/* Featured Styles */


#featuredContainer
{
	width: 100%;
	height: 301px;
	background-image: url(../images/featuredBG.png);
}

#prevBTN, #nextBTN { float: left; }

#prevBTN img, #nextBTN img { padding-top: 120px; cursor: pointer;}

#slider { float: left; width: 880px; padding-top: 30px; }
#slider ul { padding: 20px;  }
#slider ul li { height: 260px; }
#slider ul li img { margin-right: 40px; }
#slider ul li h2 { text-transform: uppercase; font-size: 26px; color: #4bd1fc; margin-bottom: 20px; }
#slider ul li p { margin-bottom: 30px; line-height: 25px; }





/* Feature Boxes Styles */


#featureSection1, #featureSection2, #featureSection3
{
	width: 280px;
	float: left;
	margin-right: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#featureSection1 p, #featureSection2 p, #featureSection3 p
{
	margin: 15px 0px;
}


#featureSection1 img, #featureSection2 img, #featureSection3 img
{
	margin-right: 10px;
}

#featureSection1 ul, #featureSection2 ul, #featureSection3 ul
{
	margin-left: 14px;
}


#featureSection1 ul li, #featureSection2 ul li, #featureSection3 ul li
{
	list-style-image: url(../images/bulletPoint.png);
}





/* Main Content Styles */


#mainContent { width: 610px; float: left; min-height: 400px; padding-top: 40px; }


#mainContent .article p { padding: 10px 0px; line-height: 25px; }


/* Sidebar Styles */

#sidebar { width: 300px; float: left; min-height: 400px; padding-left: 50px; padding-top: 40px; }
#sidebar .article p { line-height: 25px; }






/* Footer Styles */

#footerContainer { width: 100%; height: 60px; background-image: url(../images/footerBG.png);}
#footerContainer img { margin-left: 15px; margin-top: 20px;}
#footerContainer p { margin-top: 20px;}

/*Slideshow*/
#block-views-slideshow-block{
	clear:both;
	width:100%;
}
#widget_pager_bottom_slideshow-block img{
	float:left;
	height:60px;
	width:60px;
	border: 2px solid lightsteelblue;
	margin-right:22px;
}
.clear{
	clear:both;
}


